@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "poppins";
  box-sizing: border-box;
}
.BIGCONTAINER {
  padding: 0 2rem;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #505050;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgba(108, 87, 219, 0.87);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  float: right;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 12px;
  border-radius: 32px;
  color: white;
  background: linear-gradient(
      270.04deg,
      rgba(108, 87, 219, 0.87) 0.05%,
      rgba(12, 25, 31, 0.79) 97.84%
    ),
    #00b8d9;
  border: 2px solid white;
  display: block;
}
.book {
  display: none;
}
.logo {
  display: flex;
  gap: 10px;
  font-family: "Questrial";
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav {
  padding-top: 40px;
}
.strong {
  font-weight: bolder;
}
.menu a {
  text-decoration: none;
  color: #505050;
}
.menu li:hover {
  border-bottom: rgba(108, 87, 219, 0.87);
}

.bookus h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 120px;
  padding-right: 10rem;
  color: #1a093c;
}
.bookus p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: rgba(26, 9, 60, 0.8);
}
.bookus button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 12px;
  border-radius: 32px;
  color: white;
  background: linear-gradient(
      270.04deg,
      rgba(108, 87, 219, 0.87) 0.05%,
      rgba(12, 25, 31, 0.79) 97.84%
    ),
    #00b8d9;
  border: 2px solid white;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 3rem;
}
.imgbookus2 {
  width: 700px;

  padding-left: 3rem;
  padding-right: 0.8rem;
}
.imgbookus2 img {
  width: 100%;
}
.bookus img {
  margin-left: 5rem;
}
.backimage {
  background-image: url(bodyimages/BG\ Blur.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position: center;
  background-size: contain;
}
.about2 h1 {
  border-bottom: 2px solid #000000;
  width: 253px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */
  letter-spacing: 0.032em;
}
.about2 {
  display: flex;
  justify-content: end;
  margin-right: 15rem;
}
.about3 {
  padding-top: 3rem;
}
.img {
  display: flex;
  justify-content: left;
}
.aboutdaniel h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 150%;
  /* or 72px */

  background-color: linear-gradient(90deg, #6c57db #0c191f);
  background-clip: text;
}


/* .aboutdaniel h1 strong {
  background: linear-gradient(#6C57DB
  100%
  #0C191F
  79%);
  color: #6C57DB;
} */
.aboutdaniel p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  color: #213d39;
}
.about3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutdaniel {
  padding: 5rem;
}
.imageserv {
  width: 100%;
}
.imageserv img {
  width: 100%;
}
.services h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;

  color: #212121;
}
.remainingservices {
  background-image: url(/bodyimages/backgroundservices.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
}
.aside1 button a {
  text-decoration: none;
  background-color: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: 0.03em;

  color: #005dff;
}
.aside1 button {
  background-color: #e6efff;
  border: 2px solid #e6efff;
  margin-top: 2rem;
}

.services1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  padding-left: 3rem;
  width: 80%;
  background: #e6efff;
  border-radius: 16px;
  margin: 0 auto;
}
.aside1 {
  padding: 2rem 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.aside1 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  color: #005dff;
}
.aside1 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #212121;
}
/*  */
.aside2 button a {
  text-decoration: none;
  background-color: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.03em;
  color: #5850bb;
}
.aside2 button {
  background-color: none;
  /* background: rgba(88, 80, 187, 0.2); */
  background: none;
  border: 0px solid rgba(88, 80, 187, 0.2);
  margin-top: 2rem;
}

.services2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  padding-left: 5rem;
  width: 80%;
  background: rgba(88, 80, 187, 0.2);
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 1rem;
}
.services2 img {
  padding-right: 0rem;
}
.aside2 {
  padding: 2rem 2rem;
  padding-left: 4rem;
  padding-right: 8rem;
}
.aside2 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */

  color: #5850bb;
}
.aside2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  color: #212121;
}
/*  */
.aside3 button a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.03em;
  color: #f36d6f;
}
.aside3 button {
  /* background-color: #f36d6f33;  */
  background: none;
  border: 0px solid #f36d6f33;
  margin-top: 2rem;
}

.services3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  padding-left: 3rem;
  width: 80%;
  background: #f36d6f33;

  border-radius: 16px;
  margin: 0 auto;
  margin-top: 1rem;
}
.aside3 {
  padding: 2rem 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.aside3 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  color: #f36d6f;
}
.aside3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #212121;
}
/*  */
.aside4 button a {
  text-decoration: none;
  background-color: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  letter-spacing: 0.03em;
  color: #28a154;
}
.aside4 button {
  background: #e5faed;
  border: 2px solid #e5faed;
  margin-top: 2rem;
}

.services4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  padding-left: 5rem;
  width: 80%;
  background: #e5faed;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 1rem;
}
.services4 img {
  padding-right: 0rem;
}
.aside4 {
  padding: 2rem 2rem;
  padding-left: 4rem;
  padding-right: 8rem;
}
.aside4 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */

  color: #28a154;
}
.aside4 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  color: #212121;
}
/*  */
.aside5 button a {
  text-decoration: none;
  background-color: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: 0.03em;

  color: #ba9005;
}
.aside5 button {
  /* background:  #F7CE4633; */
  background: none;
  border: 0px solid #f7ce4633;

  margin-top: 2rem;
}

.services5 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  padding-left: 3rem;
  width: 80%;
  background: #f7ce4633;

  border-radius: 16px;
  margin: 0 auto;
  margin-top: 1rem;
}
.aside5 {
  padding: 2rem 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.aside5 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */

  color: #ba9005;
}
.aside5 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  color: #212121;
}

.subsection {
  margin-top: 5rem;
}
.subsection1 h3 {
  color: white;
}
.subsection1 h1 {
  color: white;
}
.jobs h1 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  letter-spacing: -0.012em;
  color: #1a093c;
}
.jobs p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #121212;
}
.subsection img {
  width: 100%;
}
.danieljobs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.danieljobs h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 36px;
  /* identical to box height */

  color: #121212;
}
.danieljobs a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-decoration-line: underline;
  transition: font-size 0.3s ease-in;
  color: #121212;
}
.danieljobs a:hover {
  font-size: 22px;
}
.danieljobs .induction {
  width: 100%;
}
.danieljobs .graduation {
  width: 100%;
}
.danieljobs .churchhill {
  width: 100%;
}
.danieljobs img {
  width: 100%;
}
/*  */
.prices h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;

  color: #212121;
}
.prices1 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  margin-left: 1rem;
  color: #616161;
}
.prices1 p {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  margin-left: 1rem;
  color: #005dff;
}
.headprices ul li {
  /* Body */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  padding: 0.5rem 0rem;

  color: #212121;
  list-style-image: url(bodyimages/check-circle.svg);
}
.headprices ul {
  margin-top: 2rem;
}
.prices1 {
  background: #e6efff;
  border-radius: 16px;
  padding-right: 4rem;
  padding-left: 2rem;
  padding-top: 1rem;
  background-image: url(bodyimages/backgrounddd.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position: top;
  margin: 0rem 0.2rem;
}
.prices2 p {
  /* Header/3 Bold */

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */
  margin-left: 1rem;

  color: #ff6a00;
}
.prices2 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  margin-left: 1rem;
  color: #616161;
}
.prices2 {
  background: #ffefe6;
  border-radius: 16px;
  padding-right: 4rem;
  padding-left: 2rem;
  padding-top: 1rem;
  /* background-image: url(/bodyimages/Background.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position: top; */
  margin: 0rem 0.2rem;
}
/*  */
.prices3 p {
  /* Header/3 Bold */

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */
  margin-left: 1rem;

  color: #28a154;
}
.prices3 h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  margin-left: 1rem;
  color: #616161;
}
.prices3 {
  background: #e5faed;
  border-radius: 16px;
  padding-right: 4rem;
  padding-left: 2rem;
  padding-top: 1rem;
  /* background-image: url(/bodyimages/backgrounddd.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position: top; */
    margin-left: 0.2rem;
}
.headprices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0rem 12rem;
}
.fullportfolio a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 42px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #000000;
}
.fullportfolio a img:hover {
  animation: rotate 0.3s ease-in-out 0.1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fullportfolio a:hover {
  transition: font-size 0.3s ease-in;
  font-size: 2rem;
}
.fullportfolio {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 2rem 0rem;
}
.testimonials h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  /* identical to box height, or 72px */

  text-align: center;
}
.testimonials h1 strong {
  color: #ff6a00;
}
.testimonials p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  /* dark-green */

  color: #213d39;
}
.testimonialimage {
  width: 50rem;
}

.testimonialimage img {
  border-radius: 500px 0px 500px 500px;
  width: 100%;

}
.testimage {
  width: 50rem;
}
.testimage img {
  width: 100%;
}

.testimonialname h1 {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  color: #212121;
  text-align: left;
}
.testimonialname p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}
.testimonialssection {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  padding: 0rem 5rem;
}
.testimonialname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.testimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgfooter {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  padding: 1rem 10rem;
}

.head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */
  padding: 0rem 6rem;
  text-align: center;

  color: #212121;
}
.head button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 28px;
  gap: 10px;
  width: 168px;
  height: 44px;
  background: #ff6a00;
  border-radius: 73px;
  border: 2px solid #ff6a00;
  transition: 0.5s ease-in;
}
.head button:hover {
  transform: scale(1.2);
}
.btn-closefooter a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.backgroundimage {
background-image: url(/footerimages/Background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffefe6;
  padding: 5rem;
  border-radius: 16px;
  margin: 5rem;
}

.headh1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head button {
  margin-top: 1rem;
}
/* .CTA {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
} */
input[type="Email"] {
  background: #ffefe6;
  /* Black/Black 80% */
  width: 26.5rem;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(10, 15, 13, 0.8);
  border-radius: 10px;
}
.form button {
  background-color: #000000;
  padding: 0.5rem 0.5rem;
  background: #0a0f0d;
  border-radius: 10px;
  position: absolute;
  left: 25.2rem;
  margin-top: 0.34rem;
}
/* .newsletter form {
  width: 558.09px;
height: 76.76px;
} */
.newsletter h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  /* Black/Black 80% */
  color: rgba(10, 15, 13, 0.8);
}

.subfooter h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;

  color: #0a0f0d;
}
.subfooter li a {
  text-decoration: none;
  color: rgba(10, 15, 13, 0.8);
}
.subfooter li {
  list-style-type: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
}
.footer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.socials img {
  margin-left: 0.5rem;
}

.button svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.midfooter a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */
  /* Black/Black */
  text-decoration: none;
  color: #0a0f0d;
  padding: 2.5rem;
}
.midfooter .first {
  padding-left: 0em;
}
.midfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.midfooter img {
  display: block;
}
.copywright {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */
  text-align: center;
  /* Black/Black 80% */
  color: rgba(10, 15, 13, 0.8);
}
.copywright a {
  text-decoration: none;
  color: #000000;
  transition: font-size 0.2s;
}
.copywright a:hover {
  font-size: 20px;
}
.headfooter {
  background-color: #ffefe6;
  margin: 0rem;
  padding: 2rem;
}
.dotfooter {
  background-color: #000000;
  justify-content: center;
  border-radius: 50%;
  padding: 0.25rem;
}
.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffefe6;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
}
.failure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
   display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffefe6;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: fixed;
}
.close-failure {
  position: absolute;
  top: 0rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.emoji-sad {
  position: relative;
  width: 120px;
  height: 120px;
  background: #ffd200;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face {
  width: inherit;
  height: inherit;
}

.eyebrow-left {
  position: absolute;
  height: 20px;
  width: 24px;
  left: 27px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-top-color: black;
  top: 25px;
}

.eyebrow-right {
  position: absolute;
  height: 20px;
  width: 24px;
  right: 27px;
  border-radius: 50%;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-top-color: black;
  top: 25px;
}

.eye-left {
  position: absolute;
  width: 11px;
  height: 12px;
  background: black;
  left: 33px;
  top: 40px;
  border-radius: 50%;
}

.eye-right {
  position: absolute;
  width: 11px;
  height: 12px;
  background: black;
  right: 33px;
  top: 40px;
  border-radius: 50%;
}

.mouth-sad {
  position: absolute;
  width: 78px;
  height: 80px;
  border: 6px solid transparent;
  top: 70px;
  left: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top-color: black;
}
.failure h1 {
  text-align: center;
}
.failure p {
  text-align: center;
}



/* Animations */
.menu .list a {
  display: inline-block;
  text-decoration: none;
}

.menu .list a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #6c57db;
  transition: width 0.3s;
}

.menu .list a:hover::after {
  width: 90%;
}
.explore img:hover {
  animation: rotate 0.3s ease-in-out 0.1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.explore a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-bottom: 2px solid;
  transition: width 0.3s;
}
.explore a:hover::after {
  width: 100%;
}

.form button img:hover {
  animation: rotate 0.3s ease-in-out 0.1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success {
  width: 50%;

  padding: 6rem;
}
.close-success {
  position: absolute;
  top: 0rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.success p {
  padding: 0rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
  position: fixed;
  display: none;
}

/* mobile view */


@media (max-width: 1300px) {
  .testimonialssection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
     .about {
      display: flex;
      flex-direction: column;
    }
      .bookus h1 {
      text-align: center;
      
      padding-right: 0rem;
      }
      .imgbookus2 img{
        width: 100%;
      }
      .imgbookus2 {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .bookus h1 {
        font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 6rem;
      line-height: 120px;
      padding-right: 1rem;
      color: #1A093C;
      }
      .bookus p {
        text-align: center;
        color: rgba(26, 9, 60, 0.8);
      }
      .bookus button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: white;
        background: linear-gradient(270.04deg, rgba(108, 87, 219, 0.87) 0.05%, rgba(12, 25, 31, 0.79) 97.84%), #00B8D9;
        border: 2px solid white;
      }
      .bookus img {
        display: none;
      }
      .imgbookus2{
        margin: 0 auto;
       padding-top: 2em;
      }
      .aboutdaniel {
        padding: 1rem;
      }
         .img {
            display: flex;
            justify-content: center;
         }
         .about3 .img img {
            width: 100%;
         } 
        .about3 {
            display: flex;
            flex-direction: column-reverse;
             flex-wrap: wrap; 
            justify-content: center;
            align-items:
            center ;
        }
        .aboutdaniel {
            text-align: center;
        }
        .about2 {
          display: flex;
          justify-content: center;
          margin-right: 0em;
        }
        .remainingservices {
          background-image: none;
          background-repeat: no-repeat;
          background-position: right;
        width: 100%;
        
        }
        .services1 {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 1rem 1rem;
          padding-left: 3rem;
          width: 100%;
        background: #E6EFFF;
        border-radius: 16px;
        margin: 0 auto;
        }
        .services2 {
          width: 100%;
        }
        .services3 {
          width: 100%;
        }
        .services4 {
          width: 100%;
        }
        .services5 {
          width: 100%;
        }
        .aside2 {
          padding: 2rem 0rem;
          padding-left: 2rem;
          padding-right: 8rem;
          
        }
        .headprices {
          display: flex;
          flex-direction: row;
           flex-wrap: wrap; 
          justify-content: space-evenly;
          margin: 0rem  0rem;
        
        }
        .prices1 {
          margin: 1rem;
        }
        .prices2 {
          margin: 1rem
        }
        .prices3 {
          margin: 1rem;
        }
        .success {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          background-color:  #FFEFE6;
          padding: 6rem;
          border-radius: 5px;
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          z-index: 10;
          position: fixed;
          
      }
        .failure {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          background-color:  #FFEFE6;
          padding: 6rem;
          border-radius: 5px;
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          z-index: 10;
          position: fixed;
          
      }
      .testimonialssection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    @media only screen and (max-width: 1000px)  {
      .testimonialssection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .backgroundimage {
        padding: 2rem 0rem;
        margin: 2rem 0rem;
      }

    }
    @media only screen and (max-width: 800px) {
      .backgroundimage {
        padding: 0rem 0rem;
        margin: 1rem 0rem;
      }
    }
    @media only screen and (min-width: 700px) {

    .dot {
      display: none;
    }
  
    }
    @media (max-width: 1050px) {
      .aside3 {
        padding: 0.5rem;
        text-align: center;
     
      }
      .aside2 {
        padding: 0.5rem;
        text-align: center;
     
      }
      .aside1 {
        padding: 0.5rem;
        text-align: center;
     
      }
      .aside4 {
        padding: 0.5rem;
        text-align: center;
     
      }
      .aside5  {
        padding: 0.5rem;
        text-align: center;
     
      }
    }
    @media (max-width: 800px) {
      .top-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
      }
      .menu-button,
    .menu-button::before,
    .menu-button::after {
      z-index: 1;
    }
      .menu-button-container {
        display: flex;
      }
      .top-nav {
        padding-top:    40px;
      
      }
      .logo {
        z-index: 1;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: right;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid white;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 2rem;
        padding: 0.5em 0;
        width: 100%;
        height: 100%;
        color:  #505050;
        ;
        background-color: white;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      .button button {
        display: none;
         z-index: 0;
      }
      .top-nav .button {
        display: none;
      }
      .book a {
       text-decoration: none;
       background-color: linear-gradient(270.04deg, rgba(108, 87, 219, 0.87) 0.05%, rgba(12, 25, 31, 0.79) 97.84%),;
      }
  
      .success {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        background-color:  #FFEFE6;
        padding: 6rem;
        border-radius: 5px;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 10;
        position: fixed;
        
    }
      .failure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        background-color:  #FFEFE6;
        padding: 6rem;
        border-radius: 5px;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 10;
        position: fixed;
        
    }
      }
       


      @media (max-width: 700px)  {
        .testimage {
          width: 100%;
        }
        .testimage img {
          width: 100%;
        }
        .backgroundimage {
          padding: 0rem 0rem;
          margin: 1rem 0rem;
          
        }
        .backgroundimage button {
          margin: 1rem;
        }
  
        .danieljobs h1 {
          font-size: 1rem;
          line-height: 20px;
        }
        .danieljobs a {
        font-size: 12px;
        line-height: 15px;
        }
        .services5 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside5 {
          padding: 1rem;
          text-align: center;
        }
        .services5 .imageserv {
          width: 80%;
        }
        .services5 .imageserv img {
          width: 100%;
        }
      
        .services5 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside5 {
          padding: 1rem;
          text-align: center;
        }
        .services5 .imageserv {
          width: 80%;
        }
        .services5 .imageserv img {
          width: 100%;
        }
        
        .services4 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside4 {
          padding: 1rem;
          text-align: center;
        }
        .services4 .imageserv {
          width: 80%;
        }
        .services4 .imageserv img {
          width: 100%;
        }
        
        .services3 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside3 {
          padding: 1rem;
          text-align: center;
        }
        .services3 .imageserv {
          width: 80%;
        }
        .services3 .imageserv img {
          width: 100%;
        }
        
        .services2 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside2 {
          padding: 1rem;
          text-align: center;
        }
        .services2 .imageserv {
          width: 80%;
        }
        .services2 .imageserv img {
          width: 100%;
        }
        
        .services1 {
          display: flex;
          flex-wrap: wrap;
          padding: 1rem;
        }
        .aside1 {
          padding: 1rem;
          text-align: center;
        }
        .services1 .imageserv {
          width: 80%;
        }
        .services1 .imageserv img {
          width: 100%;
        }
        .fullportfolio {
          padding: 0rem;
          font-size: 1rem;
          display: flex;
          justify-content: flex-start;
          padding-top: 1rem;
        }
        .fullportfolio a {
          font-size: 1rem;
        }
        .fullportfolio a:hover {
          transition: font-size 0.3s ease-in;
          font-size: 1rem;
        }
        .fullportfolio a img {
         width: 15px; 
        }
        .fullportfolio a img:hover {
          animation: rotate 0.3s ease-in-out 0.1s;
      
        }
        @keyframes rotate { 
          0% {
              transform: rotate(0deg);
          }
          100%{
              transform: rotate(0deg);
          }
          
        }
        .imgfooter {
          display: none;
          padding: 0rem;
        }
        .testimonialname h1 {
          font-size: 23px;
          padding: 0rem;
          text-align: center;
        }
        .testimonialname p {
          font-size: 20px   ;
          text-align: center;
        }
        .imagestestname {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
        }
        .imagestestname img {
          margin: 0.1rem;
        }
        .testimonialssection {
          padding: 0rem;
        }
        .testimonialimage {
          width: 100%;
        }
        .testimonialimage img {
          width: 100%;
        }
        .success {
        
          width: 80%;
          padding: 3rem;

          position: fixed;
          
      }
        .failure {
        
          width: 80%;
          padding: 3rem;

          position: fixed;
          
      }
      .success p {
        text-align: center;
      }
      .success h1 {
        font-size: 1.3rem;
      }
      .failure p {
        text-align: center;
      }
      .failure h1 {
        font-size: 1.3rem;
      }
      .close-success {
        position: absolute;
        top: 0rem;
        right: 2rem;
        font-size: 3rem;
        color: #333;
        cursor: pointer;
        border: none;
        background: none;   
        
}
      .close-failure {
        position: absolute;
        top: 0rem;
        right: 2rem;
        font-size: 3rem;
        color: #333;
        cursor: pointer;
        border: none;
        background: none;   
        
}

      }
      @media (max-width: 820px)  {
        .prices1 {
          width: 100%;
        }
        .prices2 {
          width: 100%;
        }
        .prices3 {
          width: 100%;
        }
      }
      @media (max-width: 550px)  {
.backimage h1{
  font-size: 4rem;
  line-height: 80px;
}
.backimage p {
  font-size: 25px;
}
.aboutdaniel p {
  font-size: 16px;
}
.about3 {
  padding-top: 0rem;
}
.about2 h1 {
  margin-top: 1rem;
}
.imgbookus2 {
  padding-left: 0rem;
  padding-right: 0rem;
}
      }
  @media (max-width: 480px)  {
    .prices1 {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0rem;
    }
    .prices2 {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0rem;
      margin-top: 1rem;
    }
    .prices3 {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 0rem;
      margin-top: 1rem;
    }
    .about2 h1 {
      font-size: 35px;
      width: 100%;
      height: 100%;
      text-align: center;
      text-decoration: dashed;
      border-bottom: none;
    }
    .headprices ul li {
      /* Body */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 25px */
    padding: 0.5rem 0rem;
    
    color: #212121;
    list-style-image: url(/bodyimages/check-circle.svg);
    }
    
    .testimonialssection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .danieljobs {
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0rem  0rem;
      flex-wrap: wrap;
    
   } 
   .danieljobs h1 {
    font-size: 1.3rem;
    line-height: 24px;
  }
  .danieljobs a {
  font-size: 16px;
  line-height: 19px;
  }
  .testimonialname h1 {
    font-size: 20px;
    padding: 0rem;
    text-align: left;
  }
  .testimonialname p {
    font-size: 14px   ;
    text-align: left;
  }
  .midfooter {
    display: flex;
    flex-direction: row;
  }
  .midfooter a {
    font-size: 1rem;
    padding-top: 1rem;
  }
  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  input[type=Email]{
    background: #FFEFE6;
  /* Black/Black 80% */
  width: 21rem;
  
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(10, 15, 13, 0.8);
  border-radius: 10px;
  
  }
  .backgroundimage {
    width: 100%;
    margin: 1rem 0rem;
  }
.form button {
  background-color: #000000;
  padding: 0.5rem 0.5rem;
  background: #0A0F0D;
border-radius: 10px;
position: absolute;
left: 20rem;
margin-top: 0.34rem;
}
.midfooter .dotfooter {
  display: none;
}
.midfooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.midfooter a {
  padding:  2rem;
  padding-left: 0rem;
  padding-bottom: 0.5rem;
}
.head h1 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 120%;
/* or 58px */
padding: 0rem 0rem;
text-align: center;

color: #212121;
}
.headh1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbookus2 {
  padding: 0rem;
  margin-top: 1.5rem;
}

  }

  


  @media (max-width: 390px)  {
    .headh1 {
      margin-right: 1rem;
      padding-inline-start: 1rem;
    }
  input[type=Email]{
    background: #FFEFE6;
  /* Black/Black 80% */
  width: 15.7rem;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(10, 15, 13, 0.8);
  border-radius: 10px;
  
  }
  
.form button {
  background-color: #000000;
  padding: 0.5rem 0.5rem;
  background: #0A0F0D;
border-radius: 10px;
position: absolute;
left: 14.5rem;
margin-top: 0.34rem;
}
  } 
  @media (max-width: 325px)  {
    .backimage h1{
      font-size: 2rem;
      line-height: 40px;
    }
    .backimage p {
      font-size: 25px;
      line-height: 30px;
    }
  }
  @media (max-width: 300px)  {
    
  input[type=Email]{
    background: #FFEFE6;
  /* Black/Black 80% */
  width: 13.5rem;
  padding-right: 3em;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(10, 15, 13, 0.8);
  border-radius: 10px;
  
  }
  
.form button {
  background-color: #000000;
  padding: 0.5rem 0.5rem;
  background: #0A0F0D;
border-radius: 10px;
position: absolute;
left: 12.5rem;
margin-top: 0.34rem;
}
.backimage h1{
  font-size: 2rem;
  line-height: 40px;
}
.backimage p {
  font-size: 25px;
  line-height: 30px;
}
  } 

  
  .success {
    display: none;
  }
  
  .failure {
    display: none;
  }